html,
body,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, p, ol, ul, td, label {
  font: 1em/1.5em sans-serif;
  font-size: 15px;
  user-select: none;
}

/* https://web.dev/one-line-layouts/ */
body {
  height: 100%;
  width: 100%;
}


main {
  padding: 0;
  margin: 0;
  height: 100vh; /* Change min-height to height */
  width: 100%;
  display: flex;
  flex-direction: row;
}


/* table styles */
table {
  display: inline-block;
  vertical-align: top;
  /*white-space: nowrap;*/
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.5em;
}

thead, tbody {
  border: #666 solid;
  border-width: 2px 0;
}

tr th:nth-child(even),
tr td:nth-child(even) {
  background: rgba(204,204,204,0.4);
}
th, td {padding: 0.2em 0.5em;}
th {
  text-align: left;
  border-bottom: 2px #666 solid;
}
td {text-align: right;}
td:first-child {font-weight: bold;}


/* MAP CONTAINER */
#map-area {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.legend {
  background-color: rgba(255, 255, 255, 1);
  margin-right: 15px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 20px 15px 10px 15px;
  min-width: min(175px, 35vw);
  width: min-content; 
  min-height: fit-content;
  max-height: 40vh;
  overflow-y: auto;
}

.legend-route-name {
  /* Add specific styles for the route name */
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  background: transparent;
}

.grid-container > div {
  background: transparent;
  text-align: left;
}


.legend ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.legend li:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.legend-color {
  width: 2rem;
  height: 1rem;
  display: inline-block;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.buttons {
  cursor: pointer;
}

.buttons i {
  -webkit-text-stroke-width: 0.25px;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  margin:auto;
}

.map-panel-tabs {
  position: absolute; /* or position: absolute; */
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  flex-direction: column;
  width: fit-content;
  z-index: 3;
  min-height: 25vh;
  max-height: 40vh;
}

.tabs {
  width: 300px;
  padding: 0px;
}

.tab-1, .tab-2, .tab-3 {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  font-weight: 600;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  width: 55px;
  text-align: center;
  cursor: pointer;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover {
  color: #469990;
}

.tab-1.active, .tab-2.active, .tab-3.active {
  background:#469990; /* Change the background color for the active tab */
  color: #fff; /* Change the text color for the active tab */
}

.tab-content {
  background: rgb(255, 255, 255);
  border-radius: 4px; 
  border: 2px solid rgba(0,0,0,0.2);
  padding:12px;
  min-width: min(250px, 25vw);
  width: max(25vw, 285px);
}

/* Hide tab content for screens with height less than 600px */
@media screen and (max-height: 600px), screen and (max-width: 800px){
  .tab-content {
    display: none;
  }
}


.form-container {
  width: 100%;
  box-sizing: border-box; /* Ensure box-sizing is set */
}

#searchbar {
  width: 100%;
  display: block;
  background: transparent;
  border: 1px solid rgba(61, 61, 61, 0.3);
  border-radius: 4px;
  z-index: 62;
  padding: 10px;
  box-sizing: border-box;
}

#searchbar:focus {
  border: 2px solid #469990; /* Change the border color when focused */
  outline: none; /* Remove the default focus outline */
}


input[type=text] { 
  width: 100%; 
  -webkit-transition: width 0.15s ease-in-out; 
  transition: width 0.15s ease-in-out; 
} 

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-sizing: border-box;
  border-radius: 10px;
}


.dropdown-content {
  position: relative;
  display: block;
  border: none;
  width: 100%;
  overflow-y: auto; 
  max-height: 20vh;
  padding-top: 5px;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

#route-name {
  border: 2px solid #469990;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5px;
}


.dropdown-list li:hover {
  background-color: rgba(220, 220, 220, 0.8);
}

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox input {
  display: inline-block;
  width: 18px; /* Set the desired width of the custom checkbox */
  height: 18px; /* Set the desired height of the custom checkbox */
  border-radius: 3px; /* Optional: Set border-radius for a rounded look */
  vertical-align: bottom; /* Align the checkbox at the bottom */
}

.checkbox .control-label {
  display: inline-block;
  vertical-align: bottom; /* Align the label at the bottom */
}

::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

