html,
body,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body, p, ol, ul, td {
  font: 1em/1.5em sans-serif;}

/* https://web.dev/one-line-layouts/ */
body {
  height: 100%;
  width: 100%;
}


main {
  padding: 0;
  margin: 0;
  height: 100vh; /* Change min-height to height */
  width: 100%;
  display: flex;
  flex-direction: row;
}


/* MAP CONTAINER */
#map-area {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}


.map-panel-tabs {
  position: absolute; /* or position: absolute; */
  top: 30px; /* Adjust the top position as needed */
  left: 0px; /* Adjust the left position as needed */
  flex-direction: column;
  width: fit-content;
  margin-left: 2%; 
  z-index: 3;
  height: fit-content;
}

.tabs {
  width: fit-content;
  padding: 0px;
}

.tab-1, .tab-2, .tab-3 {
  border: 1px solid rgb(61, 61, 61, 0.3);
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  background: rgba(224, 224, 224, 0.7);
  display: inline-block;
  padding: 15px;
  width: fit-content;
  cursor: pointer;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover {
  background-color: #ababab;
}

.tab-item {
  padding: 10px;
}

.tab-content {
  background: rgba(224, 224, 224, 0.7);
  border-radius: 5px; 
  border: 1px solid rgb(61, 61, 61, 0.3);
  width: 450px;
}

