html,
body,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, p, ol, ul, td, span, label {
  font-family: sans-serif;
  font-size: 15px;
  user-select: none;
  line-height: 1.5;
}

/* https://web.dev/one-line-layouts/ */
body {
  height: 100%;
  width: 100%;
}


main {
  padding: 0;
  margin: 0;
  height: 100vh; /* Change min-height to height */
  width: 100%;
  display: flex;
  flex-direction: row;
}


/* table styles */
table {
  display: table;
  vertical-align: top;
  /*white-space: nowrap;*/
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.5em;
}

thead, tbody {
  border: #666 solid;
  border-width: 2px 0;
}

tr th:nth-child(even),
tr td:nth-child(even) {
  background: rgba(204,204,204,0.4);
}
th, td {padding: 0.2em 0.5em;}
th {
  text-align: left;
  border-bottom: 2px #666 solid;
}
td {text-align: right;}
td:first-child {font-weight: bold;}


/* MAP CONTAINER */

#map-area {
  display: flex;
  flex-direction: row; /* Aligns children (map and treemap) horizontally */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  padding: 0;
  margin: 0;
  gap: 0; /* Add gap between map and treemap */
  z-index: 1;
  overflow: hidden;
}

#map {
  flex: 1; /* Allows both elements to grow equally */
  flex-basis: 100%; /* Start with both elements at 50% of the container width */
  height: 100%; /* Full height of the container */
  padding: 0;
  z-index: 2;
  box-sizing: border-box; /* Ensures padding and border are included in the element's width */
}

#popup-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: auto;
  z-index: 3; /* Ensure it's higher than #map-area */
}


/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel .closebtn:hover, .openbtn:hover {
  background-color: #444;
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  background-color: transparent;
  color: #111;
  top: 0;
  right: 0;
  font-size: 38px;
  border: none;
  cursor: pointer;
  float: right;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: #111;
  padding: 10px 15px;
  border: 0px solid rgba(61, 61, 61, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.legend {
  background-color: rgba(255, 255, 255, 1);
  margin-right: 15px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 20px 15px 10px 15px;
  min-width: min(170px, 20vw);
  width: min-content; 
  min-height: fit-content;
  max-height: 40vh;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background: transparent;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 15px;
}

.grid-container > div {
  background: transparent;
  text-align: left;
}


.legend ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.legend li {
  display: block;
  white-space: nowrap;
}


.legend li:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.legend-color {
  width: 1.75rem;
  height: 1rem;
  display: inline-block;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  vertical-align: text-bottom;
}


.buttons {
  cursor: pointer;
}

.buttons i {
  -webkit-text-stroke-width: 0.25px;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  margin:auto;
}

.map-panel-tabs {
  position: absolute; 
  top: 10px;
  left: 10px; 
  flex-direction: column;
  width: fit-content;
  z-index: 3;
  min-height: 25vh;
  max-height: 40vh;
}

.tabs {
  width: 300px;
  padding: 0px;
}

.tab-1, .tab-2, .tab-3 {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  font-weight: 600;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  width: 55px;
  text-align: center;
  cursor: pointer;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover {
  color: #469990;
}

.tab-1.active, .tab-2.active, .tab-3.active {
  background:#469990; /* Change the background color for the active tab */
  color: #fff; /* Change the text color for the active tab */
}

.tab-content {
  background: rgb(255, 255, 255);
  border-radius: 4px; 
  border: 2px solid rgba(0,0,0,0.2);
  padding:12px;
  min-width: min(250px, 20vw);
  width: max(20vw, 250px);
}

/* Hide tab content for screens with height less than 600px */
@media screen and (max-height: 600px), screen and (max-width: 800px){
  .tab-content {
    display: none;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-content: space-between;
  box-sizing: border-box; /* Ensure box-sizing is set */
}

.searchbar {
  width: 100%;
  display: block;
  background: white;
  border: 1px solid rgba(61, 61, 61, 0.3);
  border-radius: 2px;
  z-index: 62;
  padding: 10px;
  box-sizing: border-box;
}

.searchbar:focus {
  border: 2px solid #469990; /* Change the border color when focused */
  outline: none; /* Remove the default focus outline */
}


input[type=text] { 
  width: 100%; 
  -webkit-transition: width 0.15s ease-in-out; 
  transition: width 0.15s ease-in-out; 
} 

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-sizing: border-box;
  border-radius: 10px;
}



/* Style for the selected items container inside the search bar */
.selected-items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  left: 10px; /* Adjust position as needed */
  background-color: transparent;
}

/* Style for each selected item */
.selected-item {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px;
}

/* Style for the remove button */
.remove-button {
  background: none;
  border: none;
  color: #ff0000;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}


.dropdown-content {
  position: relative;
  display: block;
  border: none;
  width: 100%;
  overflow-y: auto; 
  max-height: 20vh;
  padding-top: 5px;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

#route-name {
  border: 2px solid #469990;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap; 
  line-height: 110%;
}


.dropdown-list li:hover {
  background-color: rgba(220, 220, 220, 0.8);
}

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox input {
  display: inline-block;
  width: 18px; /* Set the desired width of the custom checkbox */
  height: 18px; /* Set the desired height of the custom checkbox */
  border-radius: 3px; /* Optional: Set border-radius for a rounded look */
  vertical-align: bottom; /* Align the checkbox at the bottom */
}

.checkbox .control-label {
  display: inline-block;
  vertical-align: bottom; /* Align the label at the bottom */
}

::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.popup-table {
  background: #fff; /* Background color for the popup table */
  padding: 10px; /* Padding inside the popup table */
  width: 100%; /* Full width of the container */
  max-width: 100%; /* Ensure it does not exceed the container width */
  box-sizing: border-box; /* Include padding in width calculation */
}


.popup-table .tabs {
  display: flex; /* Flexbox for tabs */
  margin-bottom: 10px; /* Space below the tabs */
  width: 100%; /* Full width of the container */
}

.tab-button {
  flex: 1; /* Each button takes equal space */
  padding: 10px; /* Padding inside buttons */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* No border */
  background-color: #f1f1f1; /* Default background color */
  text-align: center; /* Center text in buttons */
}

.tab-button.active {
  background-color: #ddd; /* Background color for active tab */
}

.tab-content {
  border: none; /* No border around tab content */
  padding: 0; /* No padding */
  width: 100%; /* Full width for tab content */
  display: flex;
}

.tab-content table {
  width: 100%; /* Make the table take full width */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
  table-layout: fixed;
}

.tab-content th, .tab-content td {
  padding: 10px; /* Padding inside table cells */
  border: 1px solid #ddd; /* Border for table cells */
  text-align: left; /* Align text to the left */
  overflow: hidden; /* Hide overflow content */
  word-wrap: break-word; /* Break long words to fit within the cell */
  word-break: break-word; /* Break words at any character to prevent overflow */
}

.tab-content th {
  cursor: pointer;
}

.close-button {
  background: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
}

